* {
  margin: 20;
  padding: 0;
  box-sizing: border-box
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.score {
  width: 300px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
}
.buttons {
  margin-top: 30px;
}
.buttons button {
  /* padding: 10px 40px; */
  padding: 8px;
  width: 150px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #dedede;
}

.board {
  width: 306px;
  background-color: #f0f0f0;
  grid-template-rows: repeat(3,100px);
  grid-template-columns: repeat(3,100px);
  grid-gap: 2px;
  display: grid;
  border: 1px solid #ddd;
  cursor: pointer;
}

.box {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.box:hover {
  background-color: #fafafa;
}
/* #won {
  color: lightgreen!important;
} */

.won {
  color: rgb(65, 172, 65)!important;
}
.lost {
  color: rgb(255, 122, 122)!important;
}
.player {
  color: gray;
}
.active {
  color: black!important;
}